@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #30336b;
}

header {
  background-image: linear-gradient(
    to bottom,
    rgba(210, 99, 99, 0.75) -10%,
    rgba(192, 67, 67, 0) 100%
  );
  text-align: center;
  padding: 0.5rem 0 5rem;
  font-size: 1.25rem;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: rgb(16, 12, 12);
}
h1:hover,
h2:hover {
  animation: scale 0.3s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
h2,
p,
header {
  opacity: 5;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h2 {
  color: rgb(18, 14, 14);
}

p {
  margin: 20px;
  text-align: justify;
  color: rgb(20, 16, 16);
}
h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
nav {
  background-color: rgb(161, 124, 124); /* color de fondo blanco */
  color: rgb(137, 99, 99);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  color: rgb(69, 58, 58);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
nav ul li a:hover {
  color: #b2aa7a;
}
a {
  color: rgb(253, 38, 0);
}
.negrita {
  color: #95c67f;
}
img {
  display: block;
  margin: auto;
}
.my-list li {
  margin: 10px 0;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  list-style: none;
}

.my-list li:hover {
  text-align: center;
  transform: scale(3);
}
.my-list li a:hover {
  color: #88b0db; /* Cambia el color del texto del enlace al pasar el cursor por encima */
}
.container {
  display: flex;
  align-items: center;
}

.texto {
  flex: 1;
  padding-right: 20px;
}

.imagen {
  flex: 1;
  text-align: right;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  color: rgb(20, 17, 17);
}

li {
  margin-bottom: 10px;
}
strong {
  font-weight: bold;
  color: #8eb77d;
}
/* Estilos para el botón de cambio de esquema de color */
.color-scheme {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-scheme {
  background-color: #1c6ea4;
  color: white;
  font-size: 1em;
  padding: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}